/* hero */

.hero {
  position: relative;
}

.hero__swiper-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.hero__swiper-slide {
  background: center / cover no-repeat;
}

.hero__swiper-slide-1 {
  background-image: url('../img/1920/background-1-hero.jpg');
  background-color: var(--color-btn);
  background-size: cover;
}

.hero__swiper-slide-2 {
  background-image: url('../img/1920/background-2-hero.jpg');
  background-color: var(--color-btn);
  background-size: cover;
}

.hero__swiper-slide-3 {
  background-image: url('../img/1920/background-3-hero.jpg');
  background-color: var(--color-btn);
  background-size: cover;
}

.swiper-slide-active {
  -webkit-animation: zoom 4s ease-in-out infinite;
          animation: zoom 4s ease-in-out infinite;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hero__container {
  position: relative;
  max-width: 600px;
  z-index: 2;
  padding: 140px 0 122px 0;
}

.hero__heading {
  margin-bottom: 18px;
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  color: var(--white);
}

.hero__discr {
  margin-bottom: 92px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
}

.hero__btn {
  position: relative;
  display: inline-block;
  max-width: 314px;
  padding: 19.5px 32px;
  border: 3px solid transparent;
  border-radius: 100px;
  color: var(--white);
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  background-color: var(--color-btn);
  -webkit-transition-property: border-color, background-color;
  -o-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  cursor: pointer;
}

.hero__btn::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% + 13px);
  height: calc(100% + 13px);
  border: 2px solid transparent;
  border-radius: 100px;
  -webkit-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}

.hero__btn:hover {
  border-color: var(--border);
}

.hero__btn:focus {
  outline: none;
}

.hero__btn:focus:not(:active):not(:hover)::after {
  border-color: var(--border);
}

.hero__btn:active {
  background-color: var(--color-btn-active);
}
