/* about */

.about__container {
  padding: 81px 0 70px 0;
}

.about__heading {
  margin-bottom: 18px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: var(--main-text-color-grey);
}

.about__discr {
  max-width: 1080px;
  color: var(--main-text-color-grey);
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}
